{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Add or make changes to an apprentice
      </h1>

      <p class="govuk-body">After you recruit a new apprentice, you need to add them to your organisation’s apprenticeship account. You’ll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the apprentice’s name and date of birth</li>
        <li>the start and end date of the apprenticeship</li>
        <li>the cost of the apprenticeship</li>
        <li>your training provider’s UK Provider Reference Number (UKPRN)</li>
      </ul>

        <p class="govuk-body">If you need to add multiple apprentices you can upload their details together using our template.</p>

      <h2 class="govuk-heading-m">
        Change an apprentice's details
      </h2>

      <p class="govuk-body">If your apprentice takes a break or stops learning you must update their details. This will either temporarily or permanently stop payments to their training provider. The training provider must also make any changes in their ILR submission.</p>

      <h2 class="govuk-heading-m">
        Use a training provider
      </h2>

      <p class="govuk-body">Only providers on the Register of Apprenticeship Training Providers can deliver apprenticeship training.</p>
      <p class="govuk-body"><a class="govuk-link" href="#">Search for apprenticeships</a> to view the approved providers that can deliver training for your apprentice.</p>
      <p class="govuk-body">When your apprentice has a training provider, you can allow them to add apprentices to your organisation and set up payments. You must approve any information your training provider gives us.</p>

      <h3 class="govuk-heading-s">
        Contact us
      </h3>

      <p class="govuk-body">You can contact our business support centre by:<p>

      <ul class="govuk-list govuk-list--bullet">
        <li>telephone on 0800 015 0600</li>
        <li>email at <a class="govuk-link" href="#">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
      </ul>

      <p class="govuk-body">We're available 8am to 10pm, 7 days a week.</p>


    </div>
  </div>

{% endblock %}
