{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Pay and transfer apprenticeship funds
      </h1>

      <h2 class="govuk-heading-m">
        Apprenticeship service account
      </h2>

        <p class="govuk-body">You can get an account for the apprenticeship service if you’re:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a levy paying employer</li>
        <li>an employer receiving a transfer</li>
      </ul>


      <h2 class="govuk-heading-m">
        Training provider costs
      </h2>

      <p class="govuk-body">When you take on an apprentice, you agree the total cost with the training provider. The amount could change if there are any changes to the apprenticeship.</p>
      <p class="govuk-body">Your provider can change the apprenticeship start and end dates without your approval, but this will not change the total cost. To make any other changes your provider must send a request to your account. </p>

      <h2 class="govuk-heading-m">
        Transfers
      </h2>

      <p class="govuk-body">Levy-paying employers can transfer up to 25% of their annual apprenticeship funds to other employers. This can help other businesses or charities pay for their apprenticeships. </p>
      <p class="govuk-body">You’ll lose your apprenticeship funds if you don’t spend or transfer them within 2 years.</p>
      <p class="govuk-body">You can view your transfer allowance in your apprenticeship service account. It’s calculated using your total declared levy from the previous tax year, yourEnglish percentage and government top-up.</p>

      <h3 class="govuk-heading-s">
        Choose an employer
      </h3>

      <p class="govuk-body">You must choose an employer to transfer your funds to. This can be any levy or non-levy paying employer, including apprenticeship training agencies (ATA).<p>
      <p class="govuk-body">Before you transfer funds from your apprenticeship account, you need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>agree the cost, apprenticeship standard and number of apprentices with the employer</li>
        <li>sign an ESFA Apprenticeship Employer Agreement</li>
        <li>connect your accounts</li>
      </ul>

      <h3 class="govuk-heading-s">
        Connect your accounts
      </h3>

      <p class="govuk-body">You need to ask the receiving employer for their account ID so you can connect your accounts.</p>
      <p class="govuk-body">Enter the ID into the new transfers section of your account. The name and details of the employer you are connecting with will show.</p>
      <p class="govuk-body">After you connect accounts, the receiving employer and their training provider can add apprentices to the service. We’ll ask you to approve the cost, standard and number of apprentices.</p>

      <h3 class="govuk-heading-s">
        Transfer your funds
      </h3>

      <p class="govuk-body">After the training provider submits their apprenticeship data, payments will be made automatically every month. You can view the transactions in the finance section of your account.</p>
      <p class="govuk-body">You cannot stop transferring the funds before the apprenticeship ends. Funds will transfer unless:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the apprenticeship finishes</li>
        <li>the receiving employer stops the transfer</li>
      </ul>

      <p class="govuk-body">Transferred funds will come out of your account first every month. Make sure your account has enough funds for all of your financial commitments.</p>








    </div>
  </div>

{% endblock %}
