{% extends "layout.html" %}

{% block pageTitle %}
Blank page
{% endblock %}

{% block main %}

<div class="app-account-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Search apprenticeships help</h1>

        <form action="/search" novalidate>
          <div class="gem-c-search gem-c-search--on-govuk-blue">
            <label for="search" class="gem-c-search__label">
              Enter your question
            </label>
            <div class="gem-c-search__item-wrapper">
              <input type="search" value="" id="search" name="search" title="Search" class="gem-c-search__item gem-c-search__input js-class-toggle">
              <div class="gem-c-search__item gem-c-search__submit-wrapper">
                <button type="submit" class="gem-c-search__submit">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% block content %}
<div class="app-account-main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Top 10 enquiries</h2>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-7">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Employers</h3>
        <ul class="govuk-list">
          {% for article in data['employer-articles'] %}
          {% if loop.index <= 10 %}
          <li><a class="govuk-link no-line" href="articles/{{article.url}}">{{article.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Training providers</h3>
        <ul class="govuk-list">
          {% for article in data['training-provider-articles'] %}
          {% if loop.index <= 10 %}
          <li><a class="govuk-link no-line" href="articles/{{article.url}}">{{article.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Contact the apprenticeship service</h2>
      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-5">
        <h3 class="govuk-heading-s">By phone</h3>
        <p>Telephone: 0300 123 4567<br>
        Monday to Friday, 8am to 10pm<br>
        <a href="#">Find out about call charges</a></p>
      </div>
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-5">
        <h3 class="govuk-heading-s">By email</h3>
        <p>Email address: help@apprenticeships.gov.uk<br>
        We aim to respond to all email enquiries within 24 hours</p>
      </div>




      <div class="govuk-grid-column-two-thirds"">
        <h3 class="govuk-heading-s">Send us a message</h3>
      </div>

      <div class="govuk-grid-column-two-thirds js-contact-form">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="name">
            Name
          </label>
          <input class="govuk-input govuk-input--width-20" id="name" name="name" type="text" aria-describedby="name-hint">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="email-address">
            Email address
          </label>
          <input class="govuk-input govuk-input--width-20" id="email-address" name="email-address" type="text" aria-describedby="email-address">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="your-message">
            Your message
          </label>
          <textarea class="govuk-textarea" id="your-message" name="your-message" rows="5" aria-describedby="your-message-hint"></textarea>
        </div>
        <!-- <button class="govuk-button js-submit-form">Send message</button> -->
        <button class="govuk-button js-submit-form">Send message</button>
      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-5 js-form-confirm js-hidden">
        <p>Your message has been sent.</p>
        <p>We aim to respond to all enquiries within 24 hours.</p>
        <p>Your reference number is <span class="govuk-!-font-weight-bold">KLM908723.</span></p>
      </div>

    </div>
  </div>
</div>

{% endblock %}
{% endblock %}
